body {
    background-color: #defdf1;
}
form {
    border-radius: 25px;
    box-shadow: 0 0 5px 5px inset #61d1be;
    background-image: linear-gradient(to right, #9eeccd, rgb(119, 172, 216));
    margin-left: 430px;
    margin-right: 430px;
    min-width: 20%;
    padding: 50px 50px;
    margin-top: 120px;
    text-align: center;
}
input {
    font-size: 20px;
    border: 2px #c3cdc0 Solid;
    padding: 10px;
    min-width: 50px;
    width: 80%;
    box-sizing: border-box;
    margin: 10px 0px;
}

button:disabled {
    border: 2px #9ea19d Solid;
    font-size: 18px;
    min-width: 50px;
    width: 80%;
    box-sizing: border-box;
    height: 45px;
    margin: 8px 0px;
    background-color: #e8ece9;
    color: #70a559;
    cursor: not-allowed;
}
button {
    background-color: #558d3d;
    color: White;
    font-size: 18px;
    width: 80%;
    min-width: 50px;
    box-sizing: border-box;
    height: 45px;
    margin: 8px 0px;
    cursor: pointer;
}
input:focus {
    border: 2.5px #79a06b Solid;
}

@media screen and (max-width: 700px) {
    form {
        margin: 10% 10%;
    }
}

@media screen and (max-width: 500px) {
    form {
        margin: 20% 10%;
    }
}
